<div class="widget-wrap">
  <h3 class="widget-title"><%= __('introduction') %></h3>
  <div class="widget introduction">
    <% if(theme.twitter){ %>
      <a href="https://twitter.com/<%= theme.twitter %>">
        <img src="https://pbs.twimg.com/profile_images/715612964955402240/JsOg8pqJ_bigger.jpg">
      </a>
    <% } %>
    <%= theme.profile %>
  </div>
</div>