<div class="widget-wrap">
  <h3 class="widget-title"><%= __('profile') %></h3>
  <div class="widget profile">
    <a href="https://twitter.com/<%= theme.twitter %>">
      <img width="80" src="/css/images/profile.jpg">
    </a>
    情報工学科に入学した順ちゃんです。記事へのコメントや鉞は<a href="https://twitter.com/<%= theme.twitter %>">Twitter</a>まで。
  </div>
</div>
