<div class="widget-wrap">
  <h3 class="widget-title"><%= __('profile') %></h3>
  <div class="widget profile">
    <a href="https://twitter.com/<%= theme.twitter %>">
      <img width="80" src="/css/images/profile.jpg">
    </a>
    <p>
    	情報工学科に入学した順ちゃんです。
    	ご連絡は<a href="https://twitter.com/<%= theme.twitter %>">Twitter</a>まで。
    	<a href="http://books.narusejun.com">揚羽高校情報処理部</a>もよしなにお願いします。
    </p>
  </div>
</div>
